 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }

 /* HTML5 display-role reset for older browsers */
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
     display: block;
 }

 ol,
 ul {
     list-style: none;
 }

 blockquote,
 q {
     quotes: none;
 }

 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
     content: '';
     content: none;
 }

 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 body::-webkit-scrollbar {
     width: 0.1em;
 }

 body::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 }

 body::-webkit-scrollbar-thumb {
     background-color: rgb(29, 26, 26);
     outline: 1px solid slategrey;
 }

 :root {
     --color-SoftBlue: hsl(231, 69%, 60%);
     --color-SoftRed: hsl(0, 94%, 66%);
     --color-GrayishBlue: hsl(229, 8%, 60%);
     --color-VeryDarkBlue: hsl(229, 31%, 21%);
 }


 body {
     font-family: 'Rubik', sans-serif;
     line-height: 1;
     /* padding: 2rem; */
     position: relative;
 }

 header, main{
    padding: 2rem;
 }

 .side-menu{
    position:fixed;
   background-color: var(--color-VeryDarkBlue);
    top: 0;
    width: 100%;
    opacity: 0.9;
    left: 0;
    height: 100vh;
    z-index: 10;
    transform: scale(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}

.open-side-menu{
    transform: scale(1);
}

.side-menu-container{
    padding: 2rem;
}

.side-menu-navigation{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 0 3rem 0;
    border-bottom: 1px solid hsla(229, 8%, 60%, 0.342);
}


.side-menu-list{
    display: grid;
    /* justify-content: center; */
   
}

.side-menu-list > li{
    letter-spacing: 1.1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid hsla(229, 8%, 60%, 0.336);
    padding:1.5rem 0;
}

.side-menu-list > li > a{
    text-decoration: none;
     color: white;
}

.side-menu-list > li:nth-last-child(1){
    border-bottom: none;
}

.side-menu-list > li > button{
    letter-spacing: 1.1px;
    border: 2px solid white;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    background-color: inherit;
    padding: 1.1rem;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
}

.side-menu-list-container{
    margin-bottom: 10rem;
}

.side-social-img{
    display: grid;
    justify-content: center;
}

.side-social-menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

 .navigation {
     justify-content: space-between;
     align-items: center;
     display: flex;
 }

 .hero-img,
 .tab-img {
     width: 100%;
 }

 .container {
     display: grid;
     gap: 5rem;
 }

 .first-section {
     margin-top: 3rem;
     display: grid;
     gap: 3rem;
 }

 .svg-illustration {
     position: absolute;
     top: 160px;
     right: 0;
     height: 180px;
     width: 300px;
     z-index: -1;
     background-color: var(--color-SoftBlue);
     border-top-left-radius: 70px;
     border-bottom-left-radius: 70px;
 }

 .first-info-section,
 .sec-info-section,
 .sec-intro-section,
 .third-info-section {
     text-align: center;
     display: grid;
     gap: 1.5rem;
 }

 .first-info-section>h1 {
     font-size: 2rem;
     font-weight: 500;
     color: var(--color-VeryDarkBlue);
 }

 .sec-info-section>h1,
 .sec-intro-section>h2,
 .third-info-section>h1,
 .faq-secton-text>h1 {
     font-size: 1.5rem;
     font-weight: 500;
     color: var(--color-VeryDarkBlue);
 }

 .first-info-section>p,
 .sec-info-section>p,
 .sec-intro-section>p,
 .third-info-section>p,
 .version-text,
 .faq-secton-text>p,
 .content>p {
     font-size: 1rem;
     line-height: 1.5;
     font-weight: 400;
     color: var(--color-GrayishBlue);
 }

 .btn-container {
     display: flex;
     justify-content: center;
     gap: 0.5rem;
 }

 .btn-crome,
 .btn-firefox,
 .add-install,
 .more-Info {
     width: 100%;
     border: none;
     border-radius: 5px;
     padding: 1rem;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 .btn-crome,
 .add-install, 
 .more-Info {
     background-color: var(--color-SoftBlue);
     color: white;
     font-weight: 500;
 }


 .btn-firefox {
     background-color: inherit;
     color: var(--color-VeryDarkBlue);
     font-weight: 500;
 }


 .btn-crome:active,
 .add-install:active,
 .more-Info:active {
     background-color: inherit;
     border: 1px solid var(--color-SoftBlue);
     color: var(--color-SoftBlue);
     font-weight: 500;
     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
 }


 .btn-firefox:active {
     background-color: inherit;
     border: 1px solid var(--color-VeryDarkBlue);
     color: var(--color-VeryDarkBlue);
     font-weight: 500;
     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
 }


 .sec-section {
     display: grid;
     gap: 5rem;
     transition: ease-in 0.5s;
 }


 .sec-links-section>ul {
     display: grid;
     justify-content: center;
     text-align: center;
     gap: 2rem;
     font-size: 1.2rem;
     color: var(--color-GrayishBlue);
 }

 .sec-links-section>ul>li {
     display: inline-block;
     position: relative;
     padding-bottom: 1.5rem;
     letter-spacing: 1.1px;
 }

 .sec-links-section>ul>li:after {
     color: var(--color-VeryDarkBlue);
     content: '';
     position: absolute;
     transform: scaleX(0);
     height: 4px;
     bottom: 0;
     left: 0;
     background-color: var(--color-SoftRed);
     transform-origin: bottom left;
     transition: transform 0.25s ease-out;
     width: 100%;
 }

 .sec-links-section>ul>li:hover:after {
     transform: scaleX(1);
     transform-origin: bottom-left;
 }

 .sec-links-section>ul>li:hover {
     color: var(--color-VeryDarkBlue);
     transform: scaleX(1);
     transform-origin: bottom left;
 }


 .tab-img-illustration {
     position: absolute;
     top: 1266px;
     left: 0;
     height: 220px;
     width: 300px;
     z-index: -1;
     background-color: var(--color-SoftBlue);
     border-top-right-radius: 100px;
     border-bottom-right-radius: 100px;
 }

 .sec-img_intro-section,
 .extension-container {
     display: grid;
     gap: 4rem;

 }

 .third-section {
     display: grid;
     gap: 5rem;
     transition: ease-in 0.5s;
 }

 .extension-container {
     justify-content: center;
 }

 .opera,
 .firefox,
 .chrome {
     display: grid;
     gap: 4rem;
 }

 .add-text {
     font-size: 1.3rem;
     font-weight: 500;
     color: var(--color-VeryDarkBlue);
 }

 .img-text,
 .extension-img {
     display: grid;
     gap: 0.6rem;
     justify-content: center;
     text-align: center;
 }

 .img-text-container,
 .faq-section {
     display: grid;
     gap: 2rem;
     justify-items: center;
 }

 .wrapper-container{
    display: grid;
    gap: 1rem;
 }

 .add-install {
     padding: 1rem 3.5rem;
 }

 .faq-secton-text {
     text-align: center;
     display: grid;
     gap: 1rem;
     
 }

 .toggle {
     text-align: left;
     width: 100%;
     border: none;
     background-color: inherit;
     padding: 1rem 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-size: 1rem;
     color: var(--color-VeryDarkBlue);
     font-weight: 500;
     word-wrap: break-word;
 }

 .content {
     position: relative;
     font-size: 15px;
     text-align: justify;
     line-height: 30px;
     height: 0px;
     overflow: hidden;
     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
 }

 .rotate-arrow-icon {
     transform: rotate(-180deg);
     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
     color: var(--color-SoftRed);
 }

 .arrow-icon {
     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
 }

 ion-icon {
    font-size: 1.6rem;
    color: #5267DF;
    stroke-width: 3px;
    --ionicon-stroke-width: 16px;
  }

  .more-Info{
    width: 100px;
  }


  /* FOOTER */
  .footer-first-section{
    background-color: var(--color-SoftBlue);
    display: grid;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 3rem 1rem;
  }

  .footer-text-container{
    display: grid;
    gap: 1rem;
  }

  .footer-first-section-first-text{
    font-size: 1rem;
    font-weight: 400;
  }

  .footer-first-section-sec-text{
    font-size: 1.5rem;
    font-weight: 500;
  }

  form{
    position: relative;
    display: grid;
    gap: 1.1rem;
  }

.error {
    position: absolute;
    top: 18px;
    padding-right: 1rem;
    display: none;
}


.error-msg {
    font-style: italic; 
    text-align: left;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: var(--color-SoftRed);
    margin-bottom: 1rem;
    display: none;
}

.error-msg > p{
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.5rem;
}

.show-error, .show-error-msg{
    display: block;
}

.input-container {
    display: flex;
    justify-content: end;
}

.input-container > input{
    width: 100%;
    padding: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
  }


  form >  button{
    padding: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-SoftRed);
    font-size: 1rem;
    color: white;
    font-weight: 500;
  }


  form >  button:active {
    background-color: inherit;
    border: 1px solid var(--color-VeryDarkBlue);
    color: var(--color-VeryDarkBlue);
    font-weight: 500;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.footer-sec-section{
    background-color: var(--color-VeryDarkBlue);
    display: grid;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 3rem 1rem;
  }


  .logo-socials, .menu{
    display: grid;
    gap:2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }

  .social-img{
    display: grid;
    justify-content: center;
  }

  .social-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}